.card {
    margin: 30px;
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden;
    background-color: #ffffff;
}
.card:hover{
    box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.1);
}
.card-img{
    height: 380px;
    overflow: hidden;
    position: relative;
}
.card-info{
    padding: 2.6rem;
}
.card-img .category-show{
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: #e55039;
    color: #ffffff;
    padding: 0.4rem 1.4rem;
    border-radius: .3rem;
}
.card-img img{
    object-fit: cover;
    height: 100%;
}
.card-info .card-title{
    margin: 1.4rem 0;
    text-align: justify;
}
.card-info .card-author-name{
    font-weight: 300;
    font-style: italic;
    font-family: var(--catamaran);
    opacity: 0.8;
}
.card-info .published-date{
    font-weight: 300;
    font-family: var(--catamaran);
    opacity: 0.8;
}
.card-info .post-btn{
    background-color: #3b5998;
    color: #ffffff;
    display: inline-block;
    padding: .8rem 1rem;
    border-radius: .3rem;
    margin-top: 1.6rem;
    transition: var(--trans);
}
.card-info .post-btn:hover{
    background-color: #bdbdbd;
    color: rgb(46, 46, 46);
}
