.sidebar {
  display: none;
  background-color: #f1f1f1; 
  width: 230px; 
  height: 100%; 
  position: fixed; 
  top: 0;
  right: 0;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

li {
  padding: 10px 20px;
  text-align: right;
}

a {
  text-decoration: none;
  color: #2e2e2e;
}

a:hover {
  color: #4a69bd; 
}

@media (max-width: 500px) {
  .sidebar {
    display: block;
    transition: all 0.5s ease 0s; 
  }
}
