.footer {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: underline;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 1000px;
  padding: 50px;
  background-color: var(--background-color);
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.30); /* depois verificar. medida não exata */
}

.underline {
  text-decoration: underline;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: var(--2xtext);
  color: var(--text-white);
}

.inline {
  padding-bottom: 5px;
  color: var(--text-white);
}

.inline:hover {
  color: var(--selection-color);
}

.contact li {
  padding-bottom: 5px;
  color: var(--text-white);
}
.contact-item {
  padding-bottom: 5px;
  font-size: var(--title);
  color: var(--text-white);
  font-weight: bold;
}

@media(max-width: 700px) {
  .footer {
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact li {
    transition: all 0.5s ease 0s; 
    text-align: center;
  }

  .links li {
    transition: all 0.5s ease 0s; 
    text-align: center;
  }

  .categories li {
    text-align: center;
  }

}
