.footer {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: underline;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 1000px;
  padding: 50px;
  background-color: #1e3799;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.30); /* depois verificar. medida não exata */
  color: #fff;
}

.underline {
  text-decoration: underline;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: var(--2xtext);
}

.inline {
  padding-bottom: 5px;
}

.contact li {
  padding-bottom: 5px;
}
.contact h3 {
  padding-bottom: 5px;
  font-size: var(--title);
}

.contact h3 span {
  font-weight: 100;
}

@media(max-width: 700px) {
  .footer {
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact {
    padding-bottom: 15px;
    transition: all 0.5s ease 0s; 
  }

  .links {
    padding-bottom: 15px;
    transition: all 0.5s ease 0s; 
  }

}
