 .header {
  background-color: var(--background-color);
  color: var(--text-white);
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.header-title {
   color: var(--text-white);
   font-size: var(--title);
   font-weight: bold;
 }

.header-item {
   padding-inline: 8px;
   color: var(--text-white);
   font-size: var(--2xtext);
   font-weight: bold;
 }

.header-bars {
   display: none;
   font-size: 30px;
 }

@media(max-width: 700px) {
   .header {
     padding: 24px;
   }

   .header-item {
     display: none;
     transition: all 0.3s ease 0s; 
   }
   .header-bars {
     display: block;
   }
 }
