/*
  Colors:
    #eb2f06
    #f1f1f1
    #4a69bd
    #1e3799
    #000000
    #ffffff
    #bdbdbd
    #3b5998
    #00acee
    #c8232c
    #e55039
    #2e2e2e
*/

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  text-decoration: none;
  list-style-type: none;

  /* prevent selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

:root {
  --title: 1.5em;
  --text: 1em;
  --2xtext: 1.2em;
  --textMin: 0.7em;
  --text8: 0.8em;
  --text-white: #fffefe;
  --background-color: #4a69bd;
  --selection-color: #1e3799;
  --buttom-color: #3b5998;
  --primary-color: #bdbdbd;
  --white: #fff;
  --orange: #e55039;
}
